@font-face {
    font-family: "Area Variable-ExtraBold";
    /* Area Variable-ExtraBold */
    src: url("/fonts/Area-Extrabold.otf") format("opentype");
}
/* OCR-B-Regular */

/* ocr-b-regular.ttf */
@font-face {
    font-family: "OCR-B-Regular";
    src: url("/fonts/ocr-b-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Jali Arabic-Medium";
    src: url("/fonts/Jali Arabic Medium.ttf") format("opentype");
}
/* Jali Arabic-Bold */
@font-face {
    font-family: "Jali Arabic-Bold";
    src: url("/fonts/Jali Arabic Bold.ttf") format("opentype");
}
/* Area Variable-SemiBold */
@font-face {
    font-family: "Area Variable-SemiBold";
    src: url("/fonts/Area-SemiBold.otf") format("opentype");
}

/* Jali Arabic-SemiBold */
@font-face {
    font-family: "Jali Arabic-SemiBold";
    src: url("/fonts/Jali Arabic SemiBold.ttf") format("opentype");
}

/* Jali Arabic-ExtraBold */
@font-face {
    font-family: "Jali Arabic-ExtraBold";
    src: url("/fonts/Jali Arabic ExtraBold.ttf") format("opentype");
}

/* Jali Latin Variable Trial-SemiBold */
@font-face {
    font-family: "Jali Latin Variable Trial-SemiBold";
    src: url("/fonts/JaliLatin-SemiBold-Trial.ttf") format("truetype");
}

@media print {
    @page {
        size: A4;
        margin: 0;
    }

    body {
        margin: 0;
    }

    .main-file {
        width: 210mm;
        height: 297mm;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
}
