@font-face {
    font-family: "Area";
    src: url("/fonts/Area-Regular.otf") format("opentype"),
        url("/fonts/Area-Bold.otf") format("opentype"),
        url("/fonts/Area-Black.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
